{% extends 'base.html'%}
{% block body %}


{% load static%}
<h1> Wellcome {{request.user}}1 </h1>


<section class="contact-clean">
    <form action="PPB_customer" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2> enter customer name </h2>
        <div><input type="text" name="productPriceCustomer"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Filter User</button>
        </div>
    </form>
</section>


{% endblock body %}